 body
{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 background-color:#F08080;
}
nav
{
 width: 100%;
 background: #202c45;
 padding: 20 50px;
 box-sizing: border-box;
}

nav h1
{
 margin: 0;
 padding: 15px 20px; 
 float: left;
}
nav h1 a 
{
 color: #fff;
 text-decoration: none;
}
nav ul
{
 margin: 0;
 padding: 0; 
 float: right;
}
nav ul li
{
 list-style:none;
 display: inline-block;
 padding: 20px 30px;
 transition; .5s;
}
nav ul li a
{
 color: #fff;
}
nav ul li:hover
{
 background: #f2184f;
}
.responsive-bar
{
 width: 100%;
 background: #202c45;
 padding: 10px 30px;
 box-sizing: border-box;
 display: none;
}
.responsive-bar h3
{
 margin:0;
 padding:3px 0;
 color: #fff;
 float: left;
}
.responsive-bar h3 a
{
 color: #fff;
 text-decoration:none;
}
.responsive-bar h4
{
 margin: 0;
 padding: 0;
 color: #fff;
 float:right;
 padding: 5px 10px;
 background: #f2184f;
 text-transform: uppercase;
 cursor: pointer;

}

@media (min-width:300px)
{
 nav
{
 display: none;
}
.responsive-bar
{
display: block;
}
nav h1
{
display: block;
float: none;
}
nav ul
{
float: none;
}
nav ul li
{
display: block;
text-align: center;
background: #141e33;
padding: 20px 20px;
bordr-bottom: 1px solid rgba(255,255,255,1)
}
h1.brand
{
 display:none;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 1px;
}


.imgcorner {
  display: block; 
  margin:auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 8px solid #eee;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);  
  border-radius: 20%;
}
/* For mobile phones: */

[class*="col-"] {width: 100%;}  

@media only screen and (min-width: 786px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
}
